
<h1>Models Of The Cars</h1>

<% @models.each do |model| %>
<div class="grid-container">
<% if model.image %>
<%= image_tag model.image, :class => 'model-thumb' %>
<% end %>
</div>
<ul>
  <div class="grid-item" >
  <li> <%= link_to model.name, model_path(model.id), :class => "link-name" %></li>
</ul>
</div>

<% end %>
