<h1>Models of the cars</h1>
<% @models.each do |model| %>
<% if model.image %>
<%= image_tag model.image, :class => 'thumb' %>
<% end %>
<ul>
  <li>Name: <%= link_to model.name, model_path(model.id) %></li>
</ul>
<% end %>
