<div class="text-welcome">
<h1 class="heading-user">All Users</h1>
<% @users.each do |user| %>
  <p class="user-para"><%= user.email %></p>
<% end %>
</div>
<img src="https://image.freepik.com/free-photo/spotlight-shining-down-into-a-grunge-interior_1048-6921.jpg" alt="Car background" class="welcome-img">

<footer>
  <p class="para-footer"> Purvi Pandya @copy-2019</p>

    <a href="https://www.linkedin.com/in/pandyapurvi/">
  <%= image_tag '/assets/linkedin.png', :class=> "icon" %></a>
  <a href="https://github.com/pandyapurvi">
  <%= image_tag '/assets/github.png', :class => "icon"%></a>
    
</footer>
