// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-container {
  display: grid;
  // grid-template-columns: 40px 50px auto 50px 40px;
  // grid-template-rows: 25% 100px auto;
  grid-template-row: auto auto auto;
  grid-auto-rows: auto auto auto;
  justify-content: center;
}

.grid-item {
  padding: 3rem;
  text-align: center;
}
.feature{
  max-width: 100%;
  height:auto;
  animation-name: moveRound;
  animation-duration: 3s;

}
@keyframes moveRound{
    0%{
        opacity: 0;
        transform: translate(10rem);
    }
    // 80%{
    //     transform: translate(2rem);
    // }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.car-image{
  height: 30rem;

  // margin-left: 40rem;
  // float: left;
  margin-bottom: 3rem;
  margin-left: 5rem;

}
.car-image-brand{
  height: 30rem;
}
.grid-brand {

  padding: 1rem;
  text-align: center;
}
h3{
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  background-color: #777;
}

.container-b{

  font-size: 2rem;
  margin-bottom: 2rem;
}
.car{
  text-align: left;
  font-size: 2rem;
}

.star{
  float: right;
  color: orange;
}

.remove-link{
  text-decoration: none;
  color: #000;

}
.comment{
  display: block;
  background-color:#fff;
  border: .1rem solid #777;
  border-radius: .3rem;
  padding: 1rem;

  height: auto;
  clear: both;
  font-size: 1.5rem;
}
.username{
  float: left;
}
.link-none{
  text-decoration: none;
  color: #000;

}
