// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feature{
  max-width: 100%
}
.car-image{
  height: 30rem;
  width: 60rem;
  // margin-left: 40rem;
  // float: left;
  margin-bottom: 3rem;
  margin-left: 5rem;

}
.brand-car{
  margin-right: 10rem;
}

.car-image-brand{
  height: 30rem;
  width: 60rem;
  // margin-left: 40rem;
  // float: left;
  margin-bottom: 3rem;
  margin-left: 5rem;

}
