// Place all the styles related to the Models controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  font-size: 4rem;
  text-align: center;
  margin: 4rem 0;
}
li{

  font-size: 3rem;
  list-style-type: none;
  text-align: center;


}
.thumb{
  height: 30vh;
}
.brand-name{
  padding:3rem 0;
  text-align: center;
}


.brand-logo{

  float: left;
   margin-bottom: 30px;

}

.model-thumb{
  height: auto;
  width: 60rem;
}
.model-name{
  padding-top: 10rem;
  float:right;
  margin-right: 45rem;
  text-align: center;
}
.car-model{
  position: relative;
}
.brand-image{
  height: 30rem;
}
#brand-name{
  width: 100%;
  display: flex;
  justify-content: center;
}
.brand-car{
  font-size: 2rem;

}
.link-name:link,
.link-name:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 4rem;
  display: inline-block;
  // border-radius: 0 10rem;
  transition: all .2s;
  position: relative;
  font-size: 2rem;
  border-style:double;
  color: black;
  border-radius: 50%;

}
.link-name:hover{
  border-style: ridge;
  background-color: #000;
  color: #fff;
}
