// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-page{
  // display: block;
  font-size: 2rem;
}
.user-review{
  display: block;
  text-align: center;
  position:relative;
  width: 30vw;
  padding: .5rem;
  font-size: 1.3rem;
}

  .review:link,
  .review:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 4rem;
    display: inline-block;
    // border-radius: 0 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.5rem;
    border-style:double;
    color: black;
    border-radius: 50%;
    width:20rem;
    text-align: center;

}
.review:hover{
  border-style: ridge;
  background-color: #000;
  color: #fff;
}
.index-review{
  font-size: 2rem;
  width: 70%;
  margin: auto;

}
