// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign {
  postion: relative;
  // max-width: 500px;
  color: black;
  text-align: center;
  display: block;
  margin-top: 20vh;

}
.text-box1 {
  position: absolute;
  // background-color: rgba(107, 178, 152, 0.6);
  // margin: 0 auto;
  left:50%;
  top: 100%;
  transform: translate(-50% ,-50%);
  text-align: center;
  // margin-top: 20px;
  display: block;
  color: orange;
  font-size: 1.9rem;
}
.message {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50% ,-50%);
  background-color: red;
  color: #fff;

}
.email{
  display: block;
  text-align: center;
  position:relative;
  width: 30vw;
  padding: .5rem;
  font-size: 1.3rem;
}
.email:hover{
background-color: orange;
color: #000;
font-size: 1.7rem;
border-radius: 10rem;
border: orange;
}
.btn-orange{
  background-color: orange;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  border: orange;
}
.bttn:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 2rem rgba(227,161,59,.6);
}
.bttn:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .5rem 1rem rgba(227,161,59,.6);
}

.sign_in{
  display: block;
  width: 30vw;
  font-size: 2rem;
}
h2 {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;
  animation-name: moveInLeft;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  color: red;
  text-align: center;
}
