<h1>Reviews</h1>
<% @reviews.each do |review| %>

<ul>
  <% if review.car.present? %>

  <p class="index-review">Car: <%= link_to review.car.name, car_path(review.car) %></p>

  <% end %>

</ul>
  <p class="index-review">Rating: <%= link_to review.rating, reviews_path(review.id), :class=> "link-none" %></p>
  <p class="index-review">Name:  <%= link_to review.username, reviews_path(review.id), :class=> "link-none" %></p>
  <p class="index-review">Comment: <%= link_to review.comment, reviews_path(review.id), :class=> "link-none" %></p>
  <br>



<% end %>
