<h1><%= @review.username %></h1>

<ul>
  <li>Name: <%= @review.username %></li>
  <% if @review.car.present? %>
  <li>Car: <%= link_to @review.car.name, car_path(@review.car) %></li>
  <% end %>
  <% if @review.user.present? %>
  <li>User: <%= link_to @review.user.name, user_path(@review.user) %></li>
  <% end %>
  <li>Comment: <%= @review.comment %></li>
  <li>Rating: <%= @car.rating %></li><i class="fa fa-star-o"></i>
</ul>

<div class="controls">

  <%= link_to 'Edit Review', edit_review_path(@review.id) %>
  <%= link_to 'Delete Review', review_path(@review.id), :method => 'delete', :data => {:confirm => 'Are you sure?'} %>

</div>
